.dashboard-container{
    display: flex;
    padding: 20px;
}
.ad-info{
    padding: 20px;
    border: 0.5px solid rgb(230, 219, 219);
    box-shadow: 5px 5px 5px rgb(185, 183, 183);
    text-align: center;
}

.ad-img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
}


.btn-config,
.btn-viewStudents{
    border: 0;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    background-color: #0d6efd;
    margin-bottom: 15px;
}

.btn-config:hover,
.btn-viewStudents:hover{
    background-color: #387be0;
}