.dashboard-container{
    display: flex;
    padding: 20px;
}
.st-info{
    padding: 20px;
    border: 0.5px solid rgb(230, 219, 219);
    box-shadow: 5px 5px 5px rgb(185, 183, 183);
    text-align: center;
}
.course-card-list{
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 20px;
    
}
.st-img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.course-card-list{
    flex: 2;
}
.course-card{
    border: 0.5px solid rgb(230, 219, 219);
    padding: 20px;
    width: 450px;
}
.btn-delete{
    border: 0;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    background-color: #0d6efd;
}
.btn-delete:hover{
    background-color: rgb(212, 5, 5);
    color: white;
}